body{
  background: grey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4vw;
}
#jogar {
  font-family: 'Press Start 2P', cursive;
}
h1 {
  display: inline-block;
  text-shadow: 0 0 5px white; 
  transform: translateY(-25%);
}
#container {
  margin-top: 2.6rem;
  box-sizing: border-box;
  text-align: center;
  padding: 0 3vw 0 3vw;
}
#fase {
  height: 80vh;
  width: 32vw;
}
#interface {
  width: 32vw;/*tamanho largura div*/
  height: 80vh; /*altura div*/
  border: 2px solid black; /*tamanho/tipo/cor da borda*/
  margin: 0  2%;
  display: inline-block;
  box-shadow: 0px 0px 10px rgb(248, 248, 248); /*sombra atras da div*/
  
}

#integrantes {
  background-image: url('./images/fundo_inte.gif');
  background-size: cover;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  position: fixed;
  top: 30%;
  transform: translateY(-30%);
  border: 5px solid black;
  box-shadow: 0px 0px 8px white;
  font-size: 1.5vw;
  
}
#integrantes p{
  color:white;
  text-shadow: 1px 1px 10px black;
  position: relative;
  top: 15%;
  text-align: center;
}
#integrantes h2{
  color: orange;
  text-shadow: 0px 0px 10px black;
  position: relative;
  top: 15%;
  transform: translateY(-50%);
  text-align: center;
}

#inform{
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 28vw;
  padding: 0.8vw;
  position: fixed;
  top: 30%;
  transform: translateY(-30%);
  right: 3vw;
  box-shadow: 0 0 3px black;
}
#inform p {
  text-align: justify;
}
#inform img {
  width: 13vw;
  display: inline-block;

}


#menu {
  bottom: 7rem;
  position: relative;


}
#menu button {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  border-radius: 1.2rem;
  font-size: 1.5vw;
  padding: 1.5vw;
  border: none;
  transition: 0.5s;
}

#menu button:hover {
  background-color: black;
  color: white;

}

#restart {
  bottom: 7rem;
  position: relative;
  display: none;
}
#restart button {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  border-radius: 1.1rem;
  font-size: 1.5vw;
  padding: 1.5vw;
  border: none;
  transition: 0.5s;
}

#restart button:hover {
  background-color: black;
  color: white;
}
